.App {
  text-align: center;
}

.App-header {
  background-color: #16191c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-votacao {
  background-color: grey;
  height: 550px;
  width: 670px;
  display:flex;
  margin: 30px;
}

.votation-option1 {
  margin: 25px;
  background-color: #1d29d8 ;
  height: 500px;
  width: 300px;
}

.votation-option2 {
  margin: 25px;
  background-color: #7d0a0a;
  height: 500px;
  width: 300px;
}

.teamTitle {
  font-weight: bolder;
  font-size: 36px;
}

.scoreboard-container {
  border-radius: 100px;
  width: 750px;
  background-color: grey;
  display: flex;
  gap: 25px;
  align-content: center;
  grid-auto-columns: auto;
}

.scoreboard-container .teamTitleA {
  margin-top: 50px;
  margin-left: 30px;
  font-weight: bolder;
}

.scoreboard-container .teamTitleB {
  margin-top: 50px;
  margin-right: 30px;
  font-weight: bolder;
}

.team1 {
  grid-column-start: 1;
}

.scoreboard {
  margin-top: 30px;
  height: 50px;
  width: 600px;
  display: flex;
  grid-column-start: 2;
}

.scoreboard label {
  width: 500px;
}

.scoreboard #team1 {
  font-weight: bold;
  border: #282c34;
  color:white;
}

.team2 {
  grid-column-start: 3;
}

.vote-button1 {
  height: 50px;
  width: 100px;
  background-color:grey;
  border: none;
  font-weight: bold;
  color:white;
  transition-duration: 0.2s;
  font-size: 24px;
  margin: 30px
}

.vote-button1:hover {
  background-color: rgb(189, 189, 189 );
}

.vote-button2 {
  height: 50px;
  width: 100px;
  background-color:grey;
  border: none;
  font-weight: bold;
  color:white;
  transition-duration: 0.2s;
  font-size: 24px;
  margin: 30px
}

.vote-button2:hover {
  background-color: rgb(189, 189, 189);
}

.teamVotes {
  font-style: italic;
}

.bar {
  display: flex;
  width: 675px;
  background-color: #1d29d8;
}

.theBar {
  width: 50%;
  height:40px;
  background-color: #7d0a0a;
}

.teamLogo {
  height: 200px;
}